input, button {
    display: flex;
}

input{
    margin-bottom: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

p{
    font-weight: bold;
    font-size: 24px;
}

form{
    border: 2px solid  orange;
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}